@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
*{
      font-family: "Instrument Sans", sans-serif;
}
.borderStyle{
    border-top: 8px solid #6C4CF1;
    border-bottom: 1px solid #F3F0FF;
    border-left: 1px solid #F3F0FF;
    border-right: 1px solid #F3F0FF;
}

.cartFrame{
    background-image: url("./assets/cartFrame.png");
    height: 189px;
    background-color: #F3F0FF;
    opacity: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
}
